:root{
   --primary-dark :#064E3B; 
   --primary-green :#40cfcf;
}



title{
    text-align: justify;
}

.container{
    width : 50%;
    height: 100%;
    margin: auto;
   
} 

input,label{
    display: block;
}
input{
    width: 100%;
    padding: 1rem;
    height: 10px;
    display: block;
}
label{
    padding-top: 0.5rem;
    text-align: center;
    font-weight: bold;
}
button {
    padding: 0.5rem 1rem;
    display: block;
    margin-top: 1rem;
    margin: auto;
}
.change-table,th,td{
    padding: 0.2rem;
    border-collapse: collapse;
    border: 1px solid black ;

}
table{
    width: 100%;
}
th{
    font-weight: bold;
}